<nav class="bg-black/50 py-1">
  <div class="flex items-center px-4">
    <h1 class="text-xl font-bold text-center my-4">
      <a href="https://angular-guide-main.vercel.app" target="_blank"
        >AngularGuide</a
      >
    </h1>
    <div class="hidden sm:ml-6 sm:block">
      <ul class="flex items-center space-x-4">
        @for (route of routes; track route.link || route.title) { @if
        (!route.children) {
        <li>
          <a
            [routerLink]="route.link"
            [ngClass]="
              isRouteActive(route) ? 'bg-gray-700' : 'hover:bg-gray-700'
            "
            class="text-gray-300 rounded-md px-3 py-2 text-sm font-medium hover:text-white"
            aria-current="page"
          >
            {{ route.title }}
          </a>
        </li>
        } @else {
        <li>
          <div class="relative inline-block text-left">
            <button
              type="button"
              (click)="toggleDropdown(route.link || route.title)"
              [ngClass]="
                isRouteActive(route) ? 'bg-gray-700' : 'hover:bg-gray-700'
              "
              class="text-gray-300 rounded-md px-3 py-2 text-sm font-medium hover:text-white inline-flex items-center"
              [attr.aria-expanded]="isDropdownOpen(route.link || route.title)"
              aria-haspopup="true"
            >
              {{ route.title }}
              <svg
                class="ml-2 h-5 w-5 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
            @if (isDropdownOpen(route.link || route.title)) {
            <div
              class="absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-stone-600 text-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu"
              tabindex="-1"
            >
              <div class="py-1" role="none">
                @for (child of route.children; track child.link || child.title)
                { @if (!child.children) {
                <a
                  [routerLink]="child.link"
                  class="block px-4 py-2 text-sm text-white hover:bg-stone-700 hover:text-white"
                  [ngClass]="{
                    'bg-stone-700 text-white': currentRoute === '/' + child.link
                  }"
                  role="menuitem"
                  tabindex="-1"
                >
                  {{ child.title }}
                </a>
                } @else {
                <!-- Nested dropdown (you can recursively include the dropdown structure here) -->
                <div class="relative inline-block text-left mx-2">
                  <!-- Nested dropdown button -->
                  <button
                    type="button"
                    (click)="toggleDropdown(child.link || child.title)"
                    [ngClass]="
                      isRouteActive(child) ? 'bg-gray-700' : 'hover:bg-gray-700'
                    "
                    class="text-gray-300 rounded-md px-3 py-2 text-sm font-medium hover:text-white inline-flex items-center"
                    [attr.aria-expanded]="
                      isDropdownOpen(child.link || child.title)
                    "
                    aria-haspopup="true"
                  >
                    {{ child.title }}
                    <svg
                      class="ml-2 h-5 w-5 text-gray-400"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </button>
                  <!-- Nested dropdown content -->
                  @if (isDropdownOpen(child.link || child.title)) {
                  <div
                    class="absolute left-full top-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-stone-600 text-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                    role="menu"
                    tabindex="-1"
                  >
                    <div class="py-1" role="none">
                      @for (grandchild of child.children; track grandchild.link
                      || grandchild.title) {
                      <a
                        [routerLink]="grandchild.link"
                        class="block px-4 py-2 text-sm text-white hover:bg-stone-700 hover:text-white"
                        [ngClass]="{
                          'bg-stone-700 text-white':
                            currentRoute === '/' + grandchild.link
                        }"
                        role="menuitem"
                        tabindex="-1"
                      >
                        {{ grandchild.title }}
                      </a>
                      }
                    </div>
                  </div>
                  }
                </div>
                } }
              </div>
            </div>
            }
          </div>
        </li>
        } }
      </ul>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
