<form #form="ngForm" (ngSubmit)="onSubmit()" class="w-full max-w-lg">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
        for="firstname"
      >
        First Name
      </label>
      <input
        [(ngModel)]="formObj.firstname"
        #fName="ngModel"
        id="firstname"
        name="firstname"
        type="text"
        placeholder="Jane"
        required
        minlength="3"
        maxlength="50"
        pattern="[A-Za-z]+"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-white"
      />
      @if ((fName.touched || fName.dirty) && fName.errors?.['required']) {
      <p class="text-red-500 text-xs italic">Please fill out this field.</p>
      } @else if ((fName.touched || fName.dirty) && fName.errors?.['minlength'])
      {
      <p class="text-red-500 text-xs italic">Min 3 chars required.</p>
      } @else if ((fName.touched || fName.dirty) && fName.errors?.['maxlength'])
      {
      <p class="text-red-500 text-xs italic">Max 50 chars allowed.</p>
      } @else if ((fName.touched || fName.dirty) && fName.errors?.['pattern']) {
      <p class="text-red-500 text-xs italic">Only letters are allowed.</p>
      }
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label
        class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
        for="lastname"
      >
        Last Name
      </label>
      <input
        [(ngModel)]="formObj.lastname"
        #lName="ngModel"
        id="lastname"
        name="lastname"
        type="text"
        placeholder="Doe"
        required
        minlength="2"
        maxlength="50"
        pattern="[A-Za-z]+"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 mb-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      />
      @if ((lName.touched || lName.dirty) && lName.errors?.['required']) {
      <p class="text-red-500 text-xs italic">Please fill out this field.</p>
      } @else if ((lName.touched || lName.dirty) && lName.errors?.['minlength'])
      {
      <p class="text-red-500 text-xs italic">Min 2 chars required.</p>
      } @else if ((lName.touched || lName.dirty) && lName.errors?.['maxlength'])
      {
      <p class="text-red-500 text-xs italic">Max 50 chars allowed.</p>
      } @else if ((lName.touched || lName.dirty) && lName.errors?.['pattern']) {
      <p class="text-red-500 text-xs italic">Only letters are allowed.</p>
      }
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label
        class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
        for="password"
      >
        Password
      </label>
      <input
        [(ngModel)]="formObj.password"
        #pwd="ngModel"
        id="password"
        name="password"
        type="password"
        placeholder="******************"
        required
        minlength="8"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      />
      @if ((pwd.touched || pwd.dirty) && pwd.errors?.['required']) {
      <p class="text-red-500 text-xs italic">Please fill out this field.</p>
      } @else if ((pwd.touched || pwd.dirty) && pwd.errors?.['minlength']) {
      <p class="text-red-500 text-xs italic">Min 8 chars required.</p>
      } @else if ((pwd.touched || pwd.dirty) && pwd.errors?.['pattern']) {
      <p class="text-red-500 text-xs italic">
        Password must contain at least one uppercase letter, one lowercase
        letter, one number, and one special character.
      </p>
      }
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-2">
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
        for="city"
      >
        City
      </label>
      <input
        [(ngModel)]="formObj.city"
        #city="ngModel"
        id="city"
        name="city"
        type="text"
        placeholder="Albuquerque"
        required
        minlength="2"
        maxlength="50"
        pattern="[A-Za-z\s]+"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 mb-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      />
      @if ((city.touched || city.dirty) && city.errors?.['required']) {
      <p class="text-red-500 text-xs italic">Please fill out this field.</p>
      } @else if ((city.touched || city.dirty) && city.errors?.['minlength']) {
      <p class="text-red-500 text-xs italic">Min 2 chars required.</p>
      } @else if ((city.touched || city.dirty) && city.errors?.['maxlength']) {
      <p class="text-red-500 text-xs italic">Max 50 chars allowed.</p>
      } @else if ((city.touched || city.dirty) && city.errors?.['pattern']) {
      <p class="text-red-500 text-xs italic">
        Only letters and spaces are allowed.
      </p>
      }
    </div>
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
        for="state"
      >
        State
      </label>
      <div class="relative">
        <select
          [(ngModel)]="formObj.state"
          #state="ngModel"
          id="state"
          name="state"
          required
          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 mb-2 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        >
          <option selected disabled value="">Choose...</option>
          <option>New Mexico</option>
          <option>Missouri</option>
          <option>Texas</option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>
      @if ((state.touched || state.dirty) && state.errors?.['required']) {
      <p class="text-red-500 text-xs italic">Please select a state.</p>
      }
    </div>
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
        for="zipcode"
      >
        Zip
      </label>
      <input
        [(ngModel)]="formObj.zipcode"
        #zip="ngModel"
        id="zipcode"
        name="zipcode"
        type="text"
        placeholder="90210"
        required
        pattern="^\d{5}(-\d{4})?$"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 mb-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      />
      @if ((zip.touched || zip.dirty) && zip.errors?.['required']) {
      <p class="text-red-500 text-xs italic">Please fill out this field.</p>
      } @else if ((zip.touched || zip.dirty) && zip.errors?.['pattern']) {
      <p class="text-red-500 text-xs italic">
        Please enter a valid ZIP code (e.g., 12345 or 12345-6789).
      </p>
      }
    </div>
  </div>
  <div class="flex mb-6 mt-2">
    <label class="md:w-2/3 block text-gray-500 font-bold">
      <input
        [(ngModel)]="formObj.isSendLetter"
        type="checkbox"
        name="isSendLetter"
        class="mr-2 leading-tight"
      />
      <span class="text-sm"> Send me your newsletter! </span>
    </label>
  </div>
  <div class="flex space-x-4">
    <button
      type="button"
      (click)="form.reset(); resetForm()"
      class="bg-stone-600 font-medium disabled:bg-stone-500 hover:bg-stone-700 disabled:hover:bg-stone-400 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer disabled:cursor-not-allowed"
    >
      Reset Form
    </button>
    <button
      type="submit"
      [disabled]="form.invalid"
      class="bg-blue-600 font-medium disabled:bg-blue-500 hover:bg-blue-700 disabled:hover:bg-blue-400 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer disabled:cursor-not-allowed"
    >
      Submit
    </button>
  </div>
</form>
